:root {
	--white: #f2f2f2;
	--red: #f2594b;
	--green: #87a646;
	--brown: #bf6c3b;
	--yellow: #f2b441;
}

body {
	background-color: var(--red);
	background-image: url("../images/tiled-taco-background.jpg");
	background-size: 100%;
}

h1 {
	text-align: center;
	font-family: "Acme", sans-serif;
	font-weight: bold;
	text-shadow: 0 0 1em slategray, 0 0 0.2em darkslategray;
}

#quote {
	display: flex;
	justify-content: center;
	font-family: "Festive", cursive;
	text-shadow: 0 0 1em slategray, 0 0 0.2em darkslategray;
	font-size: 3rem;
	font-weight: bold;
	margin: auto;
}

h3 {
	font-family: "Acme", sans-serif;
	font-weight: normal;
}

.hero {
	display: flex;
	flex-direction: column;
	font-family: "Acme", sans-serif;
	text-shadow: 0 0 1em slategray, 0 0 0.2em darkslategray;
	margin: 20px;
	padding: 10px;
	background-color: var(--green);
}

#nav {
	/* justify-content: right; */
}

.border {
	border: solid 4px var(--red);
	border-radius: 0.5rem;
}
.card {
	display: flex;
	text-align: center;
	padding: 4px;
	margin: 10px auto;
	background-color: darkslategray;
	height: 300px;
	width: 300px;
}

.pure-button {
	font-size: 1.3rem;
	text-decoration: none;
	padding: 6px 5px;
	width: 100%;
	display: block;
	margin: 5px 0;
	border-radius: 0.5rem;
	color: whitesmoke;
	border: none;
	outline: none;
	background-color: darkslategray;
}

.form-cards {
	font-family: "Acme", sans-serif;
	font-size: 1.3rem;
}

.image {
	width: 225px;
	margin: auto;
	border-radius: 0.5rem;
}

.map {
	display: flex;
	height: 600px;
	margin: auto;
	/* padding: 4px; */
	background-color: darkslategray;
}
