h4 {
  text-align: center;
}

.card{
  border: solid 3px black ;
  border-radius: .5rem;
  display:flex;
  text-align: center;
}

.button{
  font-size: 1.3rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: .5rem;
  color: whitesmoke;
  border: none;
  outline: none;
  background-color: red;

}
