/* START UTILITY CSS */

:root {
	--white: #ffe296;
	--black: #000000;
	--primary: #00700b;
	--secondary: #b52417;
	--tertiary: #ff921c;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--tertiary);
}

.pure-g {
	letter-spacing: normal;
}
.pure-g [class*="pure-u"] {
	font-family: "Acme", sans-serif;
}

.border {
	border: solid 4px var(--secondary);
	border-radius: 0.5rem;
}

/* END UTILITY CSS */
/* START HEADER CSS */

#title {
	text-align: center;
	text-shadow: 3px 3px #b52417;
	font-family: "Acme", sans-serif;
	font-weight: bold;
	font-size: 5rem;
}

#quote {
	display: flex;
	justify-content: center;
	font-family: "Acme", sans-serif;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	margin: auto;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Acme", sans-serif;

	margin: 20px;
	padding: 10px;
	background-color: var(--primary);
}

#tacoSearchForm {
	width: 80%;
}

#input {
	border-radius: 0.5rem;
}

/* Pure CSS Customization */

.pure-menu-list {
	margin: 0;
	padding: 0;
	background-color: none;
}

.pure-menu-children {
	background-color: transparent;
}

.pure-menu-link:hover {
	background-color: var(--tertiary);
	color: var(--black);
}

.pure-button,
.pure-menu-link {
	font-family: "Acme", sans-serif;
	font-size: 1.3rem;
	text-decoration: none;
	padding: 6px;
	width: 95%;
	display: inline-block;
	margin: 5px;
	border-radius: 0.5rem;
	color: var(--white);
	border: 1px solid var(--white);
	outline: none;
	background-color: var(--secondary);
}

.pure-menu-item {
	position: relative;
}

/* END HEADER CSS */
/* START RESULTS CSS */

#headline {
	font-family: "Acme", sans-serif;
	font-size: 1.5rem;
	margin: 20px;
	padding: 10px;
	background-color: var(--primary);
	text-align: center;
}

.fa-utensils {
	margin: 10px;
	font-size: 24px;
	color: var(--red);
}

.card {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 5px 20px;
	background-color: var(--primary);
}

.card h4 {
	margin-top: 7px;
	text-align: center;
	margin-bottom: 5px;
	font-size: 1.4rem;
	color: var(--black);
	text-shadow: 3px 2px var(--secondary);
}

.card p,
a {
	text-align: left;
	margin: 2px;
	word-wrap: break-word;
}

.card a {
	color: var(--white);
	text-decoration: none;
}

.image {
	width: 95%;
	margin: auto;
	border-radius: 0.5rem;
	border: 2px solid var(--secondary);
}

.map {
	display: block;
	max-width: 90%;
	margin: 5px auto;
	background-color: var(--primary);
}

/* END RESULTS CSS */
